<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
<div class="form-check">
    <%= check_box_tag "task_ids[]", task.id, false, class: "form-check-input" %>
    <%= link_to task.title, task_path(task), class: "form-check-label" %>
   </div>
  <% end %>
</ul>

<%= link_to "+ Add a new task", new_task_path %>
